<p><p a>
<style>
 *{
   background:#085328;
 }
  body
  {
    background:#0A9949;
    margin: 70 130 200 130;
    border-radius: 50px;
    box-shadow: 0px 130px #0A9949;
  }
  p{
    position: fixed;
    height: 30px;
    width: 180px;
    background:#49C85B;
    margin: -20 -20;
    border-radius: 20px;
    box-shadow: 0px 170px #49C85B;
  }
  [a]
  {
    margin: 60 -15;
    rotate:90deg;
    box-shadow: 0px 10px #49C85B;
  }
  
</style>
