<p></p>
<style>
 *{
   background:#5F133F;
 }
  body{
    background:#B04183;
    margin:110 270 110 80;
    box-shadow:90px 0px 0px 20px #B04183;
    -webkit-box-reflect: right 140px;
  }
  p
  {
    position:fixed;
    width:10px;
    height:100px;
    background:#F7BED9;
    margin:-10 -10;
    border-radius:50px;
    color:#F7BED9;
    box-shadow:65px 25px 0 5px,65px -25px 0 5px;
  }
  }
</style>
