
<p><p a><style>*{background:#05476C}p{height:250px;width:100;background:linear-gradient(0deg,#2BBBF3 40%,#CEEDFF 0 60%,#2BBBF3 0 40%);margin:100 72;border-radius:100px;}[a]{margin:-500 212;}</style>

