<p><style>*{background:#512B2A}body{
background:#EA6B62;margin:60 135;}p{position:fixed;height:50;width:50;
margin:65 40;color:#512B2A;box-shadow:130px 0px#EA6B62,0px 90px,-130px 0px#EA6B62,0px -90px;}</style>
